joblib==1.4.2 ; python_version >= "3.10"
numpy==2.2.2 ; python_version >= "3.10"
pandas==2.2.3 ; python_version >= "3.10"
python-dateutil==2.9.0.post0 ; python_version >= "3.10"
pytz==2024.2 ; python_version >= "3.10"
scikit-learn==1.6.1 ; python_version >= "3.10"
scipy==1.15.1 ; python_version >= "3.10"
six==1.17.0 ; python_version >= "3.10"
threadpoolctl==3.5.0 ; python_version >= "3.10"
tzdata==2025.1 ; python_version >= "3.10"
